@keyframes tabbingmanager-visualize-pulse {
  0% {
    box-shadow: 0 0 5px #f00, 0 0 15px 0 white;
  }
  50% {
    box-shadow: 0 0 15px 15px #f00, 0 0 15px 25px rgba(255, 255, 255, 0.4);
  }
  100% {
    box-shadow: 0 0 5px #f00, 0 0 15px 0 white;
  }
}

.tabbingmanager-visualize-tabbable {
  animation: tabbingmanager-visualize-pulse 1s;
  box-shadow: inset 0 0 5px 3px #f00;
}
.tabbingmanager-visualize-tabbable:focus {
  box-shadow: inset 0 0 5px 3px #00f, 0 0 10px 6px #00f !important;
}
